@use './styles/variables.scss' as v;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    background-color: v.$background;
    color: v.$text;
}

.dark {
    background-color: v.$darkBackground;
    color: v.$darkText;
}

